version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    ignore:
      # Versions follow the Postgres version and should be updated manually
      - dependency-name: io.zonky.test.postgres:embedded-postgres-binaries-bom
      # We want to stay on the apache versions instead of confluent's (dependabot does not support regex in versions yet.)
      - dependency-name: org.apache.kafka:kafka-clients
        versions:
          - 6.2.1-ce
          - 6.2.1-ccs
          - 7.0.0-ce
          - 7.0.0-ccs
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
