# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

*.iml
.idea/
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
!.idea/inspectionProfiles/Project_Default.xml
out/

*.DS_STORE
*.env
*/**/*.log