version: '3.9'
services:
  postgres:
    image: "postgres:latest"
    restart: "always"
    volumes:
      - "supstonad-db-local:/var/lib/postgresql/data"
      - "./init.sql:/docker-entrypoint-initdb.d/init.sql"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "pwd"
      POSTGRES_DB: "supstonad-db-local"
    deploy:
      resources:
        reservations:
          memory: 2G
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d supstonad-db-local -U user"]
      interval: 1s
      timeout: 5s
      retries: 10

volumes:
  supstonad-db-local: