<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include file="src/main/resources/logbackConfig.xml"/>

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
    </root>
    <logger name="com.zaxxer.hikari" level="ERROR">
        <appender-ref ref="STDOUT_JSON" />
    </logger>
    <logger name="org.flywaydb" level="ERROR">
        <appender-ref ref="STDOUT_JSON" />
    </logger>
</configuration>
