<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>X-Correlation-ID</includeMdcKeyName>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <!-- Making stacktraces shorter, because see https://doc.nais.io/observability/logs/examples#issues-with-long-log-messages -->
                <maxDepthPerThrowable>20</maxDepthPerThrowable>
                <maxLength>4096</maxLength>
                <rootCauseFirst>true</rootCauseFirst>
                <shortenedClassNameLength>20</shortenedClassNameLength>
                <exclude>^sun\.</exclude>
                <exclude>^net\.sf\.cglib\.</exclude>
                <exclude>^java\.lang\.Thread\.</exclude>
                <exclude>^java\.io\.</exclude>
                <exclude>^kotlin\.io\.</exclude>
                <exclude>^kotlin\.jvm\.</exclude>
                <exclude>^kotlinx\.coroutines\.</exclude>
                <exclude>^io\.netty\.</exclude>
                <exclude>^io\.ktor\.</exclude>
                <exclude>^kotliquery\.</exclude>
            </throwableConverter>
        </encoder>
    </appender>
</included>
