name: 'Deploy'
description: 'Deploy'

inputs:
  NAIS_DEPLOY_APIKEY:
    required: true
    description: 'secrets.NAIS_DEPLOY_APIKEY'
  cluster:
    required: true
    description: 'dev-fss/prod-fss'
  var:
    required: false
    description: 'Optional, default empty, format: key1=value1,key2=value2'
    default: ''
  resource:
    required: false
    description: 'path to nais.yml'
    default: 'nais.yml'
  vars:
    required: false
    description: 'Optional, default empty, path to nais-dev.json/nais-prod.json'
    default: ''

runs:
  using: "composite"

  steps:
    - uses: actions/checkout@v3
    - uses: nais/deploy/actions/deploy@v1
      env:
        APIKEY: ${{ inputs.NAIS_DEPLOY_APIKEY }}
        CLUSTER: ${{ inputs.cluster }}
        RESOURCE: ${{ inputs.resource }}
        VARS: ${{ inputs.vars }}
        VAR: ${{ inputs.var }}
