<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>X-Correlation-ID</includeMdcKeyName>
        </encoder>
    </appender>
</included>
