<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>X-Correlation-ID</includeMdcKeyName>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <!-- Making stacktraces shorter, because see https://doc.nais.io/observability/logs/examples#issues-with-long-log-messages -->
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <maxLength>2048</maxLength>
                <rootCauseFirst>true</rootCauseFirst>
                <shortenedClassNameLength>20</shortenedClassNameLength>
                <exclude>^sun\.reflect\.</exclude>
                <exclude>^net\.sf\.cglib\.</exclude>
                <exclude>^java\.lang\.Thread\.</exclude>
                <exclude>^kotlin\.jvm\.internal\.</exclude>
                <exclude>^kotlin\.coroutines\.jvm\.internal\.</exclude>
                <exclude>^kotlinx\.coroutines\.BuildersKt</exclude>
                <exclude>^io\.netty\.util\.concurrent\.</exclude>
                <exclude>^io\.netty\.channel\.</exclude>
                <exclude>^io\.netty\.util\.internal\.</exclude>
                <exclude>^io\.ktor\.server\.netty\.</exclude>
                <exclude>^kotliquery\.LoanPattern\.</exclude>
                <exclude>^kotliquery\.PackageKt\.</exclude>
            </throwableConverter>
        </encoder>
    </appender>
</included>
