<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>X-Correlation-ID</includeMdcKeyName>
        </encoder>
    </appender>

    <appender name="secureAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/secure-logs/secure.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="sikkerLogg" level="INFO" additivity="false">
        <appender-ref ref="secureAppender"/>
    </logger>

    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="no.nav" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
    </root>
</included>
