<?xml version="1.0" encoding="UTF-8"?>
<included>
    <include file="../web/src/main/resources/logback-json-config.xml"/>
    <include file="../web/src/main/resources/logback-audit-config.xml"/>
    <include file="../web/src/main/resources/logback-secure-config.xml"/>

    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="no.nav" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
    </root>
</included>
