<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="auditLogger" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%m%n%xEx</pattern>
        </layout>

        <!-- Send audit logs to audit.nais Rsyslog server -->
        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
            <host>audit.nais</host>
            <port>6514</port>
            <ident>su-se-bakover</ident>
            <maxMessageLength>128000</maxMessageLength>
        </syslogConfig>
    </appender>

    <logger name="auditLogger" level="INFO" additivity="false">
        <appender-ref ref="auditLogger"/>
    </logger>
</included>
