<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>trace_id</includeMdcKeyName>
            <includeMdcKeyName>span_id</includeMdcKeyName>
            <includeMdcKeyName>X-Correlation-ID</includeMdcKeyName>
            <includeMdcKeyName>USER</includeMdcKeyName>
            <includeMdcKeyName>TOKENTYPE</includeMdcKeyName>
            <includeMdcKeyName>ROLES</includeMdcKeyName>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>100</maxDepthPerThrowable>
                <maxLength>11000</maxLength>
                <rootCauseFirst>true</rootCauseFirst>
                <shortenedClassNameLength>20</shortenedClassNameLength>
                <exclude>^sun\.</exclude>
                <exclude>^net\.sf\.cglib\.</exclude>
                <exclude>^java\.lang\.Thread\.</exclude>
                <exclude>^java\.io\.</exclude>
                <exclude>^kotlin\.io\.</exclude>
                <exclude>^kotlin\.jvm\.</exclude>
                <exclude>^kotlinx\.coroutines\.</exclude>
                <exclude>^io\.netty\.</exclude>
                <exclude>^io\.ktor\.</exclude>
                <exclude>^kotliquery\.</exclude>
            </throwableConverter>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>TEAM_LOGS</marker>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>ACCEPT</OnMismatch>
        </filter>
    </appender>
</included>
