<?xml version="1.0" encoding="UTF-8"?>
<included>
    <include resource="logback-json-config.xml"/>
    <include resource="logback-audit-config.xml"/>
    <include resource="logback-secure-config.xml"/>

    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="no.nav" level="DEBUG"/>
    <!-- Debugger hvorfor man ikke kan lage systemtoken fra postman og kalle su/frikort -->
    <logger name="io.ktor.auth" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
    </root>
</included>
