<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <include resource="logback-audit-config-test.xml"/>
    <include resource="logback-secure-config-test.xml"/>

    <!-- DB -->
    <logger name="io.zonky" level="WARN"/>
    <logger name="org.flywaydb" level="WARN"/>

    <!-- KAFKA -->
    <logger name="org.apache" level="ERROR"/>
    <logger name="org.apache.kafka" level="OFF"/>
    <logger name="org.apache.zookeeper" level="OFF"/>
    <logger name="org.eclipse" level="ERROR"/>
    <logger name="kafka" level="OFF"/>
    <logger name="state.change.logger" level="WARN"/>
    <logger name="io.micrometer" level="ERROR"/>

    <!-- WEB -->
    <logger name="ktor.test" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</included>



