on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/datapakker.yml'
      - '.github/workflows/reusable-deploy.yml'
      - '.github/actions/build-and-test/**'
      - '.github/actions/setup-java/**'
      - '.github/actions/deploy/**'
      - '.github/actions/push-image/**'
      - 'datapakker/**'
      - 'common/**'
      - 'gradle/**'
      - 'build.gradle.kts'
  workflow_dispatch:
    inputs:
      deploy_to_prod:
        description: "Deploy to prod?"
        required: true
        default: "false"

permissions: {}

jobs:
  build-test-push-image:
    name: Build and push Docker container
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Build and test
        uses: ./.github/actions/build-and-test
        with:
          gradle-arguments: :datapakker:soknad:build :datapakker:fritekstAvslag:build :datapakker:stoenadstatistikk:build :datapakker:saksstatistikk:build

  push_image_soknad:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    needs: build-test-push-image
    steps:
      - uses: actions/checkout@v5
      - name: Push image soknad
        uses: ./.github/actions/push-image
        with:
          tag: ${{ github.sha }}
          dockerfile: ./datapakker/soknad/Dockerfile
          image_suffix: 'datapakker-soknad-job'
          cache_from: type=gha
          cache_to: type=gha,mode=max

  push_image_fritekstAvslag:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    needs: build-test-push-image
    steps:
      - uses: actions/checkout@v5
      - name: Push image fritekstAvslag
        uses: ./.github/actions/push-image
        with:
          tag: ${{ github.sha }}
          dockerfile: ./datapakker/fritekstAvslag/Dockerfile
          image_suffix: 'datapakker-fritekstavslag-job'
          cache_from: type=gha
          cache_to: type=gha,mode=max

  push_image_stoenadstatistikk:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    needs: build-test-push-image
    steps:
      - uses: actions/checkout@v5
      - name: Push image stoenadstatistikk
        uses: ./.github/actions/push-image
        with:
          tag: ${{ github.sha }}
          dockerfile: ./datapakker/stoenadstatistikk/Dockerfile
          image_suffix: 'datapakker-stoenadstatistikk-job'
          cache_from: type=gha
          cache_to: type=gha,mode=max

  push_image_saksstatistikk:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    needs: build-test-push-image
    steps:
      - uses: actions/checkout@v5
      - name: Push image saksstatistikk
        uses: ./.github/actions/push-image
        with:
          tag: ${{ github.sha }}
          dockerfile: ./datapakker/saksstatistikk/Dockerfile
          image_suffix: 'datapakker-saksstatistikk-job'
          cache_from: type=gha
          cache_to: type=gha,mode=max

  deploy_to_dev_soknad:
    name: Deploy to dev soknad
    permissions:
      contents: read
      id-token: write
    uses: navikt/su-se-bakover/.github/workflows/reusable-deploy.yml@master
    needs: push_image_soknad
    with:
      var: image=europe-north1-docker.pkg.dev/nais-management-233d/supstonad/su-se-bakover-datapakker-soknad-job:${{ github.sha }}
      cluster: dev-fss
      resource: datapakker/soknad/.nais/dev.yaml

  deploy_to_dev_fritekstAvslag:
    name: Deploy to dev fritekstAvslag
    permissions:
      contents: read
      id-token: write
    uses: navikt/su-se-bakover/.github/workflows/reusable-deploy.yml@master
    needs: push_image_fritekstAvslag
    with:
      var: image=europe-north1-docker.pkg.dev/nais-management-233d/supstonad/su-se-bakover-datapakker-fritekstavslag-job:${{ github.sha }}
      cluster: dev-fss
      resource: datapakker/fritekstAvslag/.nais/dev.yaml

  deploy_to_dev_stoenadstatistikk:
    name: Deploy to dev stoenadstatistikk
    permissions:
      contents: read
      id-token: write
    uses: navikt/su-se-bakover/.github/workflows/reusable-deploy.yml@master
    needs: push_image_stoenadstatistikk
    with:
      var: image=europe-north1-docker.pkg.dev/nais-management-233d/supstonad/su-se-bakover-datapakker-stoenadstatistikk-job:${{ github.sha }}
      cluster: dev-fss
      resource: datapakker/stoenadstatistikk/.nais/dev.yaml

  deploy_to_dev_saksstatistikk:
    name: Deploy to dev saksstatistikk
    permissions:
      contents: read
      id-token: write
    uses: navikt/su-se-bakover/.github/workflows/reusable-deploy.yml@master
    needs: push_image_saksstatistikk
    with:
      var: image=europe-north1-docker.pkg.dev/nais-management-233d/supstonad/su-se-bakover-datapakker-saksstatistikk-job:${{ github.sha }}
      cluster: dev-fss
      resource: datapakker/saksstatistikk/.nais/dev.yaml

  deploy_to_prod_stoenadstatistikk:
    if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.deploy_to_prod == 'true' || github.ref == 'refs/heads/master' }}
    name: Deploy to prod stoenadstatistikk
    permissions:
      contents: read
      id-token: write
    uses: navikt/su-se-bakover/.github/workflows/reusable-deploy.yml@master
    needs: push_image_stoenadstatistikk
    with:
      var: image=europe-north1-docker.pkg.dev/nais-management-233d/supstonad/su-se-bakover-datapakker-stoenadstatistikk-job:${{ github.sha }}
      cluster: prod-fss
      resource: datapakker/stoenadstatistikk/.nais/prod.yaml

  deploy_to_prod_soknad:
    if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.deploy_to_prod == 'true' || github.ref == 'refs/heads/master' }}
    name: Deploy to prod
    permissions:
      contents: read
      id-token: write
    uses: navikt/su-se-bakover/.github/workflows/reusable-deploy.yml@master
    needs: push_image_soknad
    with:
      var: image=europe-north1-docker.pkg.dev/nais-management-233d/supstonad/su-se-bakover-datapakker-soknad-job:${{ github.sha }}
      cluster: prod-fss
      resource: datapakker/soknad/.nais/prod.yaml

  deploy_to_prod_fritekstAvslag:
    if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.deploy_to_prod == 'true' || github.ref == 'refs/heads/master' }}
    name: Deploy to prod
    permissions:
      contents: read
      id-token: write
    uses: navikt/su-se-bakover/.github/workflows/reusable-deploy.yml@master
    needs: push_image_fritekstAvslag
    with:
      var: image=europe-north1-docker.pkg.dev/nais-management-233d/supstonad/su-se-bakover-datapakker-fritekstavslag-job:${{ github.sha }}
      cluster: prod-fss
      resource: datapakker/fritekstAvslag/.nais/prod.yaml