on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/datapakker.yml'
      - '.github/workflows/reusable*.yml'
      - '.github/actions/**'
      - 'datapakker/**'
      - 'common/**'

permissions: {}

jobs:
  build-test-push-image:
    name: Build and push Docker container
    runs-on: ubuntu-latest
    permissions:
      packages: 'write'
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v3
      - name: Build and test
        uses: ./.github/actions/build-and-test
        with:
          gradle-arguments: :datapakker:soknad:build
      - name: Push image
        uses: ./.github/actions/push-image
        with:
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          tag: ${{ github.sha }}
          dockerfile: ./datapakker/soknad/Dockerfile
          image_suffix: 'datapakker-job'

  deploy_to_dev:
    name: Deploy to dev
    uses: navikt/su-se-bakover/.github/workflows/reusable-deploy.yml@master
    needs: build-test-push-image
    with:
      var: image=europe-north1-docker.pkg.dev/nais-management-233d/supstonad/su-se-bakover-datapakker-job:${{ github.sha }}
      cluster: dev-fss
      vars: datapakker/soknad/nais-dev.json
      resource: datapakker/soknad/nais.yml
    secrets:
      NAIS_DEPLOY_APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}

  deploy_to_prod:
    name: Deploy to prod
    uses: navikt/su-se-bakover/.github/workflows/reusable-deploy.yml@master
    needs: build-test-push-image
    with:
      var: image=europe-north1-docker.pkg.dev/nais-management-233d/supstonad/su-se-bakover-datapakker-job:${{ github.sha }}
      cluster: prod-fss
      vars: datapakker/soknad/nais-prod.json
      resource: datapakker/soknad/nais.yml
    secrets:
      NAIS_DEPLOY_APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
