name: Bygg og deploy ved push til master

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master

env:
  IMAGE: docker.pkg.github.com/${{ github.repository }}/su-se-bakover:${{ github.sha }}

jobs:
   build:
      name: Build and push Docker container
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v1
        - uses: actions/cache@v1
          with:
            path: ~/.gradle/caches
            key: ${{ runner.os }}-gradle-cache-${{ hashFiles('build.gradle.kts') }}
            restore-keys: |
              ${{ runner.os }}-gradle-cache-
        - uses: actions/cache@v1
          with:
            path: ~/.gradle/wrapper
            key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
            restore-keys: |
              ${{ runner.os }}-gradle-wrapper-
        - uses: actions/setup-java@v1
          with:
            java-version: '12.x'
        - name: test and build
          run: ./gradlew test build
          env:
            ORG_GRADLE_PROJECT_githubUser: x-access-token
            ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
        - name: Build and publish Docker image
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: |
            docker build --pull --tag ${IMAGE} .
            docker login docker.pkg.github.com -u ${GITHUB_REPOSITORY} -p ${GITHUB_TOKEN}
            docker push ${IMAGE}

   deploy_to_dev:
      name: Deploy to dev
      needs: build
      if: github.ref == 'refs/heads/master'
      runs-on: ubuntu-latest
      steps:
        -   uses: actions/checkout@v1
        -   uses: nais/deploy/actions/deploy@v1
            env:
               APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
               CLUSTER: dev-fss
               RESOURCE: nais.yml
               VARS: nais-dev.json
